Flask>=3.0.3
Werkzeug>=3.0.3
gunicorn>=22.0.0
python-dotenv==1.0.1

# AWS
boto3==1.34.0

# Security
argon2-cffi==23.1.0
Flask-WTF>=1.2.1
Flask-Limiter>=3.5.0
bleach==6.1.0

# Content
markdown2==2.4.13
Pillow>=10.0.0